

form{
    font-size: 15px;
    background-image: linear-gradient(to bottom, green, white);
    width: 500px;
    height: 500px;
    float: left;
    margin-bottom: 20px;
}

form label{
    margin-left: 20px;
    color: black;
    font-weight: bold;
}

h1{
    color: black;
    text-align: center;
}

input,textarea{
    width: 200px;
    padding: 10px;
    color: black;
    border-radius: 5px;
    margin-left: 20px;
}

input:hover,textarea:hover{
    border-color: blueviolet;
    box-shadow: 5px 0px 100px yellowgreen;
    font-weight: bold;
}

textarea{
    width: 200px;
    height: 100px;
    line-height: 20px;
    margin-left: 20%;
}

#submit{
    margin-left: 22.5%;
}

#submit:hover{
    background-color: blue;
    font-weight: bold;
    color: white;
}

#maps{
    width: 400px;
    height: 400px;
    float: left;
    margin-left: 20%;
}